<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @staff.price %>
</p>

<p>
  <strong>Tittle:</strong>
  <%= @staff.tittle %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
