<h1>Listing characters</h1>

<table>
  <thead>
    <tr>
      <th>Strength</th>
      <th>Agility</th>
      <th>Intelligence</th>
      <th>Mana</th>
      <th>Hp</th>
      <th>Armor</th>
      <th>Attackspeed</th>
      <th>Damage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.strength %></td>
        <td><%= character.agility %></td>
        <td><%= character.intelligence %></td>
        <td><%= character.mana %></td>
        <td><%= character.hp %></td>
        <td><%= character.armor %></td>
        <td><%= character.attackspeed %></td>
        <td><%= character.damage %></td>
        <td><%= link_to 'Show', character %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character', new_character_path %>
