<div class="form-divs">
<div class="border-form-div">
<%= simple_form_for(:user, :url => session_path(:user)) do |f| %>

    <div id="form-sign-in">
      <div class="content">
        <div class="row">
          <div class="login-form" align="center">
            <h3>Login</h3>
            <form action="">
              <fieldset>
                <div class="clearfix">
                  <%= f.email_field :email, :autofocus => true, :label => 'Email', :placeholder => 'Email',:size => 35%>
                </div>
                <div class="clearfix">
                  <%= f.password_field :password, :label => 'Senha', :placeholder => 'Senha',:size => 35 %>
                </div>
                <div class="center">
                <%= button_tag :class => 'fa btn btn-info ' ,:id => 'login' do %>
                    <i class='icon-white icon-upload'></i> Login
                <% end %>
                <%=link_to raw("<i class=\"icon-white icon-ok\"> Cadastre-se </i>"),
                           new_user_registration_path,
                           class: "fa btn btn-warning  btn-small"%>
				<br>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

<% end %>
</div>
</div>