<%= form_for(@mission) do |f| %>
  

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :reward %><br>
    <%= f.text_field :reward %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.datetime_select :duration,{:order => [:day, :month, :year], :datetime_separator => " at "}  %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
