<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @mission.description %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @mission.reward %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @mission.duration %>
</p>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
