    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Warriors VS Mages</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
         <li><%= link_to "Missões",  missions_path%></li>
              <li><%= link_to "Batalhas", "/"  %></li>
              <li><%= link_to "Loja", "/"  %></li>
             </ul>
             <div class="pull-right">
               <button type="button" class="btn btn-info navbar-btn"><i class="fa fa-gear"></i>
              <%= current_user.email%>
              </button>
              <%= link_to "Sair", destroy_user_session_path, :method => :delete, :class => 'btn btn-danger navbar-btn' %>
          </div>
        </div>
      </div>
    </div>