<div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= root_path%>" >Warriors VS Mages</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li><%= link_to "Missões",  "/"%></li>
              <li><%= link_to "Batalhas", "/"  %></li>
              <li><%= link_to "Loja", "/"  %></li>
             </ul>
             <div class="pull-right">
             	 <button type="button" class="btn btn-info navbar-btn"><i class="fa fa-gear"></i>
              <%= current_user.email%>
              </button>
          		<%= link_to "Sair", destroy_user_session_path, :method => :delete, :class => 'btn btn-lg  btn-danger ' %>
          </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>